.ant-layout-header{
    box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
    position: relative;
    z-index: 1010;
}

Header .logo {
    width: 120px;
    height: 31px;
    line-height: 31px;
    background: rgba(255,255,255,.2);
    margin: 16px 24px 16px 0;
    float: left;
    text-align: center;
    color: #fff;
}
Header .logo img{
    width: 100%;
}